<h3 class="h4">
  Add Record
</h3>

<form class="text-black-50">
  <div class="form-group">
    <label for="input1">Jogging date</label>
    <input type="date" class="form-control" id="input1" aria-describedby="emailHelp" placeholder="mm/dd/yyyy">
  </div>
  <br>
  <div class="form-group">
    <label for="input2">Distance (m)</label>
    <input type="number" class="form-control" id="input2" placeholder="0">
  </div>
  <br>
  <div class="form-group">
    <label for="input3">Time (s)</label>
    <input type="number" class="form-control" id="input3" placeholder="0">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
